<label>{{ Title }}</label>
<input #language>
<div class="btn-group" dropdown>
  <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
    aria-controls="dropdown-basic">
    Select language <span class="caret"></span>
  </button>
  <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
    <li #Англійська role="menuitem"><a class="dropdown-item" (click)="selected('Англійська'); language.value='Англійська'">Англійська</a></li>
    <li role="menuitem"><a class="dropdown-item" (click)="selected('Українська'); language.value='Українська'">Українська</a></li>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem"><a class="dropdown-item" (click)="selected('Не визначено'); language.value='Не визначено'">Не визначено</a>
    </li>
  </ul>
</div>
