<div class="main-container">
  <h1>Зареєструватися</h1>
  <p>Заповніть цю форму, щоб створити обліковий запис.</p>
  <hr>

  <label for="email"><b>Електронна пошта</b></label>
  <input #email type="text" placeholder="Enter Електронна пошта" name="email" required>

  <label for="login"><b>Вхід</b></label>
  <input #login type="text" placeholder="Enter Вхід" name="login" required>

  <label for="psw"><b>Пароль</b></label>
  <input #psw type="password" placeholder="Enter Пароль" name="psw" required>

  <label for="psw-repeat"><b>Repeat Пароль</b></label>
  <input #pswR type="password" placeholder="Repeat Пароль" name="psw-repeat" required>

  <label>
    {{ message }}
  </label>

  <p>Створюючи обліковий запис, ви погоджуєтеся з нашим<a href="#" style="color:dodgerblue">Умови та конфіденційність</a>.</p>

  <div class="clearfix">
    <button type="button" class="cancelbtn" routerLink="/home">Скасувати</button>
    <button type="submit" class="signupbtn" (click)="signUp(email.value, login.value, psw.value, pswR.value)">Sign
      Up</button>
  </div>
</div>