<div class=main-container>
  <div class="imgcontainer">
    <img src="assets/img_avatar2.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="uname"><b>Ім'я користувача</b></label>
    <input #login type="text" placeholder="Enter Ім'я користувача" name="uname" required>

    <label for="psw"><b>Пароль</b></label>
    <input #password type="password" placeholder="Enter Пароль" name="psw" required>

    <button (click)="signIn(login.value, password.value)">Увійти</button>
    <label class=error-message-text>
      {{ message }}
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button routerLink="/home" type="button" class="cancelbtn">Назад</button>
  </div>
</div>