<div class=main-container>
  <div class="imgcontainer">
    <img src="assets/img_avatar2.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input #login type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input #password type="password" placeholder="Enter Password" name="psw" required>

    <button (click)="signIn(login.value, password.value)">Sign In</button>
    <label class=error-message-text>
      {{ message }}
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button routerLink="" type="button" class="cancelbtn">Back</button>
  </div>
</div>