<div class=header>

  <button type="button" class="home" routerLink="/home" (click)="register()">Служба інтернаціоналізації</button>

  <button type="button" class="btn btn-primary" routerLink="/home">Головна</button>

  <button type="button" class="btn btn-primary" *ngIf="!authorized" [disabled]="!serverWorking"
    routerLink="/signIn">Увійти</button>

  <button type="button" class="btn btn-primary" *ngIf="authorized" [disabled]="!serverWorking"
    routerLink="/translate">Перекласти</button>

  <button type="button" class="btn btn-primary" *ngIf="!authorized" [disabled]="!serverWorking" routerLink="/signUp">
    Sign Up</button>

  <button type="button" class="btn btn-primary" *ngIf="authorized" [disabled]="!serverWorking" routerLink="/home"
    (click)="signOut()">Вийти</button>

  <div style="display: inline-block; float: right;">
    <div *ngIf="serverWorking">
      <div class=image-div>
        <img src="assets/server_up.png">
      </div>
      <span>Сервер працює правильно.</span>
    </div>

    <div *ngIf="!serverWorking">
      <div class=image-div>
        <img src="assets/server_down.svg">
      </div>
      <span>Сервер тимчасово недоступний.</span>
    </div>
  </div>
</div>