<div class=header>

  <button type="button" class="home" routerLink="/home">Internationalization Service</button>

  <button type="button" class="btn btn-primary" routerLink="/home">Home</button>

  <button type="button" class="btn btn-primary" *ngIf="!authorized" [disabled]="!serverWorking"
    routerLink="/signIn">Sign In</button>

  <button type="button" class="btn btn-primary" *ngIf="authorized" [disabled]="!serverWorking"
    routerLink="/translate">Translate</button>

  <button type="button" class="btn btn-primary" *ngIf="!authorized" [disabled]="!serverWorking" routerLink="/signUp">
    Sign Up</button>

  <button type="button" class="btn btn-primary" *ngIf="authorized" [disabled]="!serverWorking" routerLink="/home"
    (click)="signOut()"> Log Out</button>
</div>
